myapp {
    $SIDEMENU_TOP: #00B69F;
    $SIDEMENU_BOTTOM: #0076A8;
    $SIDEMENU_TRANSPARENCY: rgba(255,255,255,0.4);

    .toolbar-background {
        background:darkcyan;
    }

    .toolbar-title-md {
        color: #f2ebeb !important;
        font-family: Helvetica, Arial, sans-serif
    }

    .bar-button-default-md {
        color: #f2ebeb !important;        
    }

    #cabecalho-menu {
        .item-inner {
            border: none;
        }
    }

    .list-menu .label {
        color: #f2ebeb;
    }

    .list-menu .icon {
        color: #f2ebeb;    
    }

    ion-menu .scroll-content {
        font-family: Helvetica, Arial, sans-serif !important;
        background: -webkit-gradient(left top, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
        background: -o-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
        background: -moz-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
        background: linear-gradient(to bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);

        .item-block {
            background: transparent;
        }
    }

    .cabecalho-menu {

        ion-avatar img {
            width: 50px;
            height: 50px;
        }

        h2 {
            color: white;
            font-weight: bold;
        }

        p {
            color: #eee;
        }
    }
}